.header-wrapper {
	width: 100%;
	height: 60px;
	color: white;
	background-color: navy;
	border-bottom: dimgray 3px solid;
	padding: 5px;
	top: 0;
	position: fixed;
	z-index: 999;
}

.header-logo {
	font-family: 'PT sans', sans-serif;
	margin-left: 10px;
	line-height: 45px;
	display: inline;
}

/* .header-menu {
	width: 20%;
	float: right;
	border-left: 1px solid dimgray;
	transition: 0.5s;
	text-align: center;
}

.header-menu a {
	line-height: 45px;
	color: white;
}

.header-menu:hover {
	background-color: white;
	opacity: 0.5;
	color: navy;
} */

.header-btn-wrapper {
	float: right;
	margin: 5px;
}

.header-btn-wrapper button {
	width: 200px;
}

.header-signup {

}

.main-container {
	padding: 50px;
	display: flex;
	z-index: 1;
}

.sidebar-left {
	width: auto;
	padding: 10px;

}

.content-wrapper {
	width: 70%;
	margin: 0 40px;
}

.top_img img {
	width: 100%;
	margin-top: 60px;
	height: auto;
}

.contents {
	width: 70%;
}

.contents hr {
	color: dimgray;
}

.btn-wrapper-center {
	width: 70%;
	margin: 0 auto;
	border: 1px solid darkgray;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
}

.top-contents h1 {
	font-family: 'PT Serif', serif;
}

.top-signup-or-login {
	width: 70%;
	margin: 0 auto;
	border: 1px solid darkgray;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
}

.top-signup-or-login button {
	width: 80%;
}

.wrapper-center {
	width: 70%;
	hight: auto;
	margin: 0 auto;
}

.header-spacer {
	height: 60px;
}

