<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>top</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
<link rel="stylesheet" th:href=@{/css/GradleTest.css}>
</head>
<body>
	<div th:fragment="commonHeader()">
		<div class="header-wrapper">
			<h1 class="header-logo">	Звехдный Свет</h1>
		</div>
	</div>
</body>
</html>