<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{components/layout_main}">
<head>
<meta charset="UTF-8">
<title>login</title>
<link rel="stylesheet" th:href=@{/css/GradleTest_decorate.css}>
</head>
<body>
	<div layout:fragment="contents" class="register-contents">
		<h1>Login</h1>
		<hr>
		<div class="wrapper-center">
			<form method="POST" th:action="@{/login}" th:object="${loginFormModel}">
				<input type="text" th:field="*{userId}" placeholder="User ID">
				<input type="password" th:field="*{password}" placeholder="Password">
				<button class="ui button" type="submit">Login</button>
			</form>
			<a href="#">forgot password?</a>
		</div>
	</div>
</body>
</html>